.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {	
	background-color: rgba(146, 146, 146, 0%);
}

.nav-tabs .nav-link.active {
	border-color: rgba(146, 146, 146, 0%);
}

.active .tabName{
	border-bottom: solid 2px #404040;
	font-weight: bold;
}

input[type=number] {
	/*for absolutely positioning spinners*/
	position: relative; 
  }

input[type=number]::-webkit-inner-spin-button {
	position: absolute;
	top: 0;
	right: 0;	
	height: 100%;
	opacity: 1;
}

.dropdown-toggle::after {
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 30px;
    color:#7a7a7a;
}

.dropdown-toggle:focus {
	box-shadow: 0 0 0 1.5px rgba(96, 96, 96, 45%)!important;
	border-radius: 0px;
}

@media screen and (min-width: 991px) {
	.py-lg-3{
		padding-top:30px!important;
		padding-bottom:30px!important;
	}
	
	.pb-lg-3{
		padding-bottom:30px!important;
	}
	
	.pt-lg-3{
		padding-top:30px!important;
	}

	#nav-tabContent{
		min-height: 100vh;
	}

	.border-none{
		border:none;
	}
}