@media screen and (min-width: 991px) {
	.py-lg-3{
		padding-top:30px!important;
		padding-bottom:30px!important;
	}
	
	.pb-lg-3{
		padding-bottom:30px!important;
	}
	
	.pt-lg-3{
		padding-top:30px!important;
	}
}

.buttonSize{
	width:182px;
	height:41px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

	border-color: white white black white!important;
}


