.selectOption { 
	position: relative; 
	display: block; 
	height: 41px; 
	line-height: 3; 
    background:  #ebebeb;
    width: 100%; 
	overflow: hidden;
} 

.slct { 
	width: 100%; 
	height: 100%; 
	padding: 0 0 0 .5em; 
	cursor: pointer; 
	position: absolute; 
	color:#495057;
	border-color: rgba(96, 96, 96, 55%)!important;

} 
.selectOption::after { 
	content: '\25BC'; 
	position: absolute; 
	right: 0; 
	background:  #ebebeb; 
	pointer-events: none; 
	height: 100%;
	border: solid 1px rgba(96, 96, 96, 55%);
	padding-left: 4px;
	padding-right: 4px;
    color:#83888d;
    font-size: 14px;
} 

.selectOption:hover::after { 
	color: black; 
} 