

@media screen and (min-width: 991px) {
	.py-lg-3{
		padding-top:30px!important;
		padding-bottom:30px!important;
	}
	
	.pb-lg-3{
		padding-bottom:30px!important;
	}
	
	.pt-lg-3{
		padding-top:30px!important;
	}
	
	
	.pr-lg-1{
		padding-right:15px!important;
	}
	
	.pl-lg-1{
		padding-left:15px!important;
	}
}

.buttonSize{
	width:182px;
	height:41px;
}

.shortInput{
	width: 283px!important;
}

.noBorder{
	border:none;
}