@media screen and (min-width: 991px) {
    .inputSearch{
        width: 428px;
    }

    .imageCategory{
        width:144px;
        height: 196px;
    }

    .btnCategory{
        width:144px;
        height: 196px!important;
    }

    .cardCategory{
        width:196px!important;
    }

    .backgroundColorSilver{
        background-color: #606060;
    }
    .emailInput{
        width: 413px;
    }

    .productRow{
        height: 84px;
    }
}