body{
    font-family: 'Lato', sans-serif;    
    font-weight: lighter!important;
    color:#606060;
}

.btnColor{
    background-color: #606060;
    color:white;
    font-size: 18px!important;
    letter-spacing: 1px;
}


.btnYourCart{
    background-color: #606060;
    color:white;
    font-size: 16px;
    width: 109px!important;
    height: 30px!important;
}

.sansPro{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.btnColorLight{
    background-color: #ebebeb;
    color:#606060;
    letter-spacing: 1px;
    font-size: 18px!important;

}

.starColor{
    color: #ebebeb;
}

img{
    border-radius: 0px!important;
}

a{
    color:#606060;
}

.hrWidth{
    width: 200px;
    height: 2px;
}


.borderRadius{
    border-radius: 2px!important;
}

.border{
    border-color:#7a7a7a!important;
}

.imageProduct{
        width: 111px;
        height: 84px;
}

.card{
    border: white!important;
}

.navLinks{
    width: 96px;
}

.line{
    height:50%;
    margin-bottom:25px;
    background-color:#c0c0c0;
    width:2px;
}

.backgroundColor{
    background-color: rgba(146, 146, 146, 5%);
}
.fontSize26{
    font-size: 26px!important;
}
.fontSize18{
    font-size: 18px!important;
}

.letterSpacing{
    letter-spacing: 2px;
}

@media screen and (min-width: 991px) {
    body{
        width: 1024px;
        position: relative;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
     
    }
    .pb-lg-5{
        padding-bottom: 50px!important;
    }
    
    .pt-lg-5{
        padding-top: 50px!important;
    }
    
    .py-lg-5{
        padding-bottom: 50px!important;
        padding-top: 50px!important;
    }
    .px-lg-5{
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
    .pl-lg-5{
        padding-left: 50px!important;
    }
    
    .pr-lg-5{
        padding-right: 50px!important;
    }
    
    .pl-lg-4{
        padding-left: 26px!important;
    }
    
    .pr-lg-4{
        padding-right: 26px!important;
    }

    .px-lg-4{
        padding-left: 26px!important;
        padding-right: 26px!important;
    }
    h2{
        font-size: 40px!important;
        letter-spacing: 2px;
    }
	h3{
        font-size:27px;
    }

    h4{
        font-size:21px;
    }

    h5{
        font-size: 18px;
    }

    h6{
        font-size: 14px;
    }

}

@media (max-width: 991px) 
{
}

