body{
    font-family: 'Lato', sans-serif;
    font-weight: lighter!important;
    color:#606060;
}

.bg-color-secondary{
    background-color: #606060;
    color:white;
}

.bg-color-light{
    background-color: #ebebeb;
    color:#606060;
}

.sans-pro{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.star-color{
    color: #ebebeb;
}

img{
    border-radius: 0px!important;
}

a{
    color:#606060;
}

.horizontal-line{
    width: 200px;
    height: 2px;
}

.border-radius{
    border-radius: 2px!important;
}

.border{
    border-color:#7a7a7a!important;
}

.card{
    border:none!important;
}

.background-color{
    background-color: rgba(146, 146, 146, 5%);
}

.font-size-14
{
    font-size: 14px!important;
}

.font-size-16{
    font-size: 16px!important;
}

.font-size-17{
    font-size: 17px!important;
}

.font-size-18{
    font-size: 18px!important;
}

.font-size-26{
    font-size: 26px!important;
}

.font-size-36{
	font-size: 36px!important;
}

.letter-spacing{
    letter-spacing: 2px;
}

.letter-spacing-1{
    letter-spacing: 1px;
}

.border{
    border-color: rgba(96, 96, 96, 45%)!important;
}

.border-top, .border-bottom, .border-left, .border-right{
	border-color: rgba(96, 96, 96, 20%)!important;
	border-width: 1.4px!important;
}

.border-width{
    border-width: 2px!important;
}

.vertical-line{
    height:50%;
    margin-bottom:25px;
    background-color:#c0c0c0;
    width:2px;
}

.border-radius-left-none{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.border-radius-right-none{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.border-radius-left-small{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.border-radius-right-small{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media screen and (min-width: 991px) {
    body{
        width: 1027px;
        position: relative;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
    }

    .pb-lg-5{
        padding-bottom: 50px!important;
    }

    .pt-lg-5{
        padding-top: 50px!important;
    }

    .py-lg-5{
        padding-bottom: 50px!important;
        padding-top: 50px!important;
    }

    .px-lg-5{
        padding-left: 50px!important;
        padding-right: 50px!important;
    }

    .pl-lg-5{
        padding-left: 50px!important;
    }

    .pr-lg-5{
        padding-right: 50px!important;
    }

    .pl-lg-4{
        padding-left: 26px!important;
    }

    .pr-lg-4{
        padding-right: 26px!important;
    }

    .px-lg-4{
        padding-left: 26px!important;
        padding-right: 26px!important;
    }

    h2{
        font-size: 40px;
        letter-spacing: 2px;
    }

    h4{
        font-size:21px!important;
    }

	h3{
        font-size:27px;
    }

    h5{
        font-size: 18px;
    }

    h6{
        font-size: 14px;
    }
}